@import url(../../utils/colors/colors.css);
@import url(../../utils//fonts/fonts.css);

.container_footer {
  background-color: var(--cream);
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.container_our_info {
  padding: 16px;
}
.container_our_info h2 {
  font-family: var(--RadioCanada);
  font-weight: bold;
  font-size: 20px;
}

.container_our_info a {
  text-decoration: none;
  color: black;
  font-family: var(--Inter);
}
.container_info_extra {
  padding: 16px;
}

.container_info_extra h2 {
  font-family: var(--RadioCanada);
  font-weight: bold;
  font-size: 20px;
}

.container_info_extra a {
  text-decoration: none;
  color: black;
  font-family: var(--Inter);
}
.container_social_media {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 8px;
  gap: 8px;
}

.link_instagram {
  background-color: #f62528;
  color: var(--cream);
  border-radius: 50%;
  padding: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: backgroud-color 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_instagram:hover {
  background-color: #b61c1f;
}

.icon_ig {

  font-size: 32px;
}
.link_facebook {
  background-color: #3d6ad6;
  color: var(--cream);
  border-radius: 50%;
  padding: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link_facebook:hover {
  background-color: #243f80;
}
.icon_fb {
  font-size: 32px;
}
