*{
    box-sizing: border-box;
}

.div_container{
    flex-direction: column;
    display: flex;
    align-items: start;
    padding: 16px;
    gap: 20px;
    height: 150px;
    width: 90%;
    background-color: #323255;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 1px rgba(72, 77, 77, 0.452);
}

.div_select{
    display: flex;
    gap: 12px;
    width: auto;
}

.div_select select{
    background-color:#323255;
    border: none;
    color: white;
    text-align: end;
    padding: 4px;
}

.div_search{
    display: flex;
    gap: 8px;
    width: 100%;
}


.div_search input{
    height: 35px;
    width: 45%;
    padding: 8px 30px;
    border-radius: 4px;
    border: none;
}
.div_destino{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.switch{
    color: white;
    background-color:#323255;
    border-radius: 50%;
    padding: 4px;
    font-size: 24px;
    z-index: 1;
    position: absolute;
    left: 23.2%;
    cursor: pointer;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* Oculta el ícono de calendario en navegadores WebKit (Chrome, Safari) */
}

.location1{
    color:#ff6b35;
    border-radius: 50%;
    padding: 4px;
    font-size: 28px;
    z-index: 1;
    position: absolute;
    left: 0;
}
.location2{
    color:#ff6b35;
    border-radius: 50%;
    font-size: 28px;
    padding: 4px;
    z-index: 1;
    position: absolute;
    left: 26%;
}

.calendar1{
    color:#ff6b35;
    padding: 4px;
    font-size: 24px;
    z-index: 1;
    position: absolute;
    left: 51%;
}
.calendar2{
    color:#ff6b35;
    padding: 4px;
    font-size: 24px;
    z-index: 1;
    position: absolute;
    left: 76%;
}



.div_search button{
    width: 100px;
    height: 35px;
    background-color: #ff6b35;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_search button:hover{
    background-color:#c15129;
}