@import url(../../../utils/colors/colors.css);
@import url(../../../utils/fonts/fonts.css);

* {
  box-sizing: border-box;
}

.div_container_table_airline {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table_container {
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table_container::-webkit-scrollbar {
  width: 12px;
  background-color: #fdfbf6;
  border-radius: 16px;
}

.table_container::-webkit-scrollbar-thumb {
  background-color: #323255;
  border-radius: 16px;
}

.table_airline {
  background-color: #fdfbf6;
  width: 100%;
  border-radius: 12px;
  border-collapse: collapse;
}

.table_airline thead {
  height: 40px;
  border-radius: 12px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fdfbf6;
}

.table_airline thead tr th:first-child {
  border-top-left-radius: 12px;
  border-left: none;
}
.table_airline thead tr th:last-child {
  border-top-right-radius: 12px;
  border-right: none;
}

.table_airline tbody tr td:last-child {
  border-right: none;
}

.table_airline tbody tr td:first-child {
  border-left: none;
}

.table_airline tfoot {
  border-radius: 12px;
  width: 100%;
  height: 12px;
}

.table_airline td,
.table_airline th {
  border: 2px solid var(--silver);
  padding: 0.5rem;
  text-align: center;
  font-family: var(--RadioCanada);
  font-weight: bold;
  height: 50px;
}

th {
  color: #323255;
  border-top: none;
}

.div_container_table_airline button {
  width: 200px;
  height: 35px;
  background-color: #ff6b35;
  border-radius: 4px;
  color: white;
  font-weight: normal;
  font-size: 18px;
  border: none;
}

.div_container_table_airline button:hover {
  background-color: #c15129;
}

.table_button_airline {
  background-color: var(--orange);
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  font-family: var(--Lalezar);
  width: 50%;
}

.edit_icon {
  cursor: pointer;
  font-size: 20px;
}

.edit_icon:hover {
  font-size: 28px;
}
