@import url("../../utils/colors/colors.css");
@import url("../../utils/fonts/fonts.css");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.div_container {
  display: flex;
  background-color: var(--silver);
  width: 100%;
  min-width: 1000px;
  justify-content: space-between;
}

.user_data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  margin-top: 36px;
  margin-left: 24px;
}

.user_info {
  background-color: var(--blue);
  padding: 20px;
  border-radius: 8px;
}

.fligth_data {
  width: 35%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

.form-label {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 8px;
  font-family: var(--LeagueSpartan);
  padding: 2px;
}

.form-input {
  width: 68%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: var(--RadioCanada);
  font-weight: bold;
  display: flex;
  color: gray;
}

.form-input[disabled] {
  background-color: var(--cream);
  color: #888;
}

.button-group {
  display: flex;
  width: 68%;
}

.button {
  background-color: var(--cream);
  color: black;
  border: 1px solid var(--cream);
  margin-right: -10px;
  cursor: pointer;
  font-family: var(--RadioCanada);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #ddd;
}

/* .form-button {
  background-color: #ff6b35;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 16px;
} */

/* .form-button:hover {
  background-color: #e65a25;
} */

/* Email para enviar el voucher */
.send_voucher {
  background-color: var(--blue);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.purchase-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 65%;
}

.purchase-form-label {
  font-size: 16px;
  font-weight: bold;
  color: var(--cream);

  font-family: var(--LeagueSpartan);
  padding: 4px;
}

.purchase-form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.buy_button {
  display: flex;
  align-items: flex-start;
}
.purchase_button {
  font-family: var(--RadioCanada);
  font-weight: bold;
  font-size: 20px;
  background-color: var(--orange);
  color: white;
}

.purchase_button:hover {
  background-color: #e65a25;
}

.fligth_data {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 12px;
  width: auto;
  font-family: var(--LeagueSpartan);
  align-items: flex-end;
  background-color: white;
  margin-right: 24px;
}

.payment_info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-start;
  align-items: self-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.payment_info h2 {
  font-size: 28px;
  color: var(--blue);
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details p {
  justify-content: flex-end;
}
.total_payment {
  font-size: 22px;
  color: var(--blue);
}

.fligth_info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-start;
  align-items: self-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  border-radius: 8px;
}
.fligth_info h2 {
  font-size: 28px;
  color: var(--blue);
}
.from-to {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--RadioCanada);
  font-weight: bold;
}

.fligth_date {
  display: flex;
  justify-content: space-between;
}
.going h4 {
  color: var(--blue);
}
