* {
  box-sizing: border-box;
}

.container_layout {
  display: grid;
  grid-template-columns: 54px 1fr; /* Ancho del aside y el main */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";
  height: 100vh;
  width: 100vw;
}

.container_layout div:first-child {
  grid-area: header;
  z-index: 10;
}
.container_layout div:nth-child(2) {
  grid-area: aside;
  z-index: 5;
}

.container_layout div:last-child {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.main,
.main_adjusted {
  margin-left: 10px;
  grid-area: main;
  background-color: red;
  width: 400px;
  height: 500px;
  color: black;
  font-size: 30;
  margin-top: 70px;
  border: 1px solid black;
  transition: 0.15s ease-in-out;
}
.main {
  margin-left: 10px;
}
.main_adjusted {
  margin-left: 120px;
}
