:root {
  --blue: #323255;
  --orange: #ff6b35;
  --darkOrange: #d1572b;
  --cream: #fdfbf6;
  --lighGray: #f0efeb;
  --platinium: #e2e2e0;
  --silver: #c7c8ca;
  --darkGray: #323232;
  --lightBlack: #262626;
  --mediumBlack: #1f1f1f;
}
